 {{!
	string msg-wiki7-drawer-toggle The label used by the drawer button.
}}
<summary
	class="wiki7-dropdown-summary"
	title="{{msg-wiki7-drawer-toggle}}"
	aria-details="wiki7-drawer__card">
	<span class="wiki7-ui-icon">
		<span></span>
		<span></span>
		<span></span>
	</span>
	<span>{{msg-wiki7-drawer-toggle}}</span>
</summary>