{{!
	string msg-wiki7-drawer-toggle The label used by the drawer button.
}}
<summary
	class="wiki7-dropdown-summary wiki7-cdx-button--size-large cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--icon-only cdx-button--weight-quiet"
	title="{{msg-wiki7-drawer-toggle}}"
	aria-details="wiki7-drawer__card">
	{{>Icon__menu}}
	<span>{{msg-wiki7-drawer-toggle}}</span>
</summary>