{{!
	string msg-wiki7-drawer-toggle The label used by the drawer button.
	string msg-sitetitle the contents of the sitesubtitle message key
}}
<div class="wiki7-drawer wiki7-header__item wiki7-dropdown">
	<details class="wiki7-dropdown-details">
		{{>Drawer__button}}
	</details>
	<div id="wiki7-drawer__card" class="wiki7-drawer__card wiki7-menu__card">
		<div class="wiki7-menu__card-backdrop"></div>
		<div class="wiki7-menu__card-content">
			<header class="wiki7-drawer__header">
				<button class="wiki7-drawer__close" aria-label="{{msg-wiki7-drawer-toggle}}" title="{{msg-wiki7-drawer-toggle}}">
					<span class="wiki7-ui-icon mw-ui-icon-close mw-ui-icon-wikimedia-close"></span>
				</button>
				{{>Drawer__logo}}
				<div class="wiki7-drawer__siteinfo">
					{{#data-site-stats}}{{>SiteStats}}{{/data-site-stats}}
					{{>Wordmark}}
				</div>
			</header>
			{{#data-main-menu}}
				{{>MainMenu}}
			{{/data-main-menu}}
		</div>
	</div>
</div>