<a href="{{link-mainpage}}" class="mw-logo wiki7-drawer__logo" title="{{msg-tooltip-p-logo}}">
	{{! alt is provided for valid HTML but given aria-hidden not needed. }}
	<img class="mw-logo-icon" src="{{>Logo_icon_src}}"{{!
		}} alt="" aria-hidden="true" height="80" width="80" loading="lazy">
</a>
