 {{!
	@typedef object footerItem
	@prop string id of list item element
	@prop string html of list item
	@prop footerItem[] items

	@typedef object footerRow
	@prop string className of list element
	@prop string id of list element
	@prop footerItem[] array-items

	footerRow[] array-footer-rows iterable list of footer rows
	footerRow[] array-footer-icons iterable list of footer icons
	string msg-sitetitle
	string msg-wiki7-footer-desc
	string msg-wiki7-footer-tagline
}}

<footer class="mw-footer wiki7-footer" {{{html-user-language-attributes}}}>
	<div class="wiki7-footer__container">
		<section class="wiki7-footer__content">
			<div class="wiki7-footer__siteinfo">
				<div id="footer-sitetitle" class="mw-wiki-title">{{>Wordmark}}</div>
				<p id="footer-desc">{{{msg-wiki7-footer-desc}}}</p>
			</div>
			{{#data-places}}{{>Footer__row}}{{/data-places}}
		</section>
		<section class="wiki7-footer__bottom">
			<div id="footer-tagline">{{{msg-wiki7-footer-tagline}}}</div>
			{{#data-icons}}{{>Footer__row}}{{/data-icons}}
		</section>
	</div>
</footer>