 {{!
 	string link-mainpage link to the main page
	string msg-wiki7-drawer-toggle The label used by the drawer button
}}
<header class="mw-header wiki7-header">
	{{>Header__logo}}
	{{#data-search-box}}{{>Search}}{{/data-search-box}}
	{{>Drawer}}
	<div class="wiki7-header__inner">
		<div class="wiki7-header__start"></div>
		<div class="wiki7-header__end">
			{{>Preferences}}
			{{#data-notifications}}{{>Notifications}}{{/data-notifications}}
			{{>UserMenu}}
		</div>
	</div>
</header>
