<section id="wiki7-main-menu" class="wiki7-main-menu wiki7-drawer__menu">
	{{#data-portlets-first}}{{>Menu}}{{/data-portlets-first}}
	{{#array-portlets-rest}}{{>Menu}}{{/array-portlets-rest}}
</section>