<nav
	id="{{id}}"
	class="wiki7-menu{{#class}} {{.}}{{/class}}"
	{{{html-tooltip}}}
	{{{html-userlangattributes}}}
>
	{{#label}}
	<div class="wiki7-menu__heading{{#label-class}} {{.}}{{/label-class}}">
		{{.}}
	</div>
	{{/label}}
	{{>MenuContents}}
</nav>
