<header class="mw-body-header wiki7-page-header" id="wiki7-page-header">
	<div class="wiki7-page-header-inner">
		{{#data-page-heading}}{{>PageHeading}}{{/data-page-heading}}
		{{#data-page-tools}}{{>PageTools}}{{/data-page-tools}}
	</div>
</header>
<div id="wiki7-page-header-sticky-sentinel"></div>
