{{!
	string msg-wiki7-preferences-toggle The label used by the preferences button.
}}
<div class="wiki7-preferences wiki7-header__item wiki7-dropdown">
	<details id="wiki7-preferences-details" class="wiki7-dropdown-details">
		<summary
			class="wiki7-dropdown-summary"
			title="{{msg-wiki7-preferences-toggle}}"
			aria-details="wiki7-preferences__card">
			<span class="wiki7-ui-icon mw-ui-icon-wikimedia-settings"></span>
			<span>{{msg-wiki7-preferences-toggle}}</span>
		</summary>
	</details>
	<div id="wiki7-preferences__card" class="wiki7-menu__card">
		<div class="wiki7-menu__card-backdrop"></div>
		<div class="wiki7-menu__card-content">
			<div id="wiki7-preferences-content" class="wiki7-preferences-content"></div>
		</div>
	</div>
</div>