{{!
	string msg-wiki7-preferences-toggle The label used by the preferences button.
}}
<div class="wiki7-preferences-dropdown wiki7-header__item wiki7-dropdown">
	<details id="wiki7-preferences-details" class="wiki7-dropdown-details">
		<summary
			class="wiki7-dropdown-summary wiki7-cdx-button--size-large cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--weight-quiet cdx-button--icon-only"
			title="{{msg-wiki7-preferences-toggle}}"
			aria-details="wiki7-preferences-dropdown__card">
			<span class="wiki7-ui-icon mw-ui-icon-wikimedia-configure"></span>
			<span>{{msg-wiki7-preferences-toggle}}</span>
		</summary>
	</details>
	<div id="wiki7-preferences-dropdown__card" class="wiki7-menu__card">
		<div class="wiki7-menu__card-content">
			<div id="wiki7-preferences-content" class="wiki7-preferences"></div>
		</div>
	</div>
</div>
