<div class="wiki7-search__footer">
	<div class="wiki7-search__footer-start">{{msg-wiki7-search-footer}}</div>
	<div class="wiki7-search__footer-end">
		{{#array-keyboard-hint}}{{>KeyboardHint}}{{/array-keyboard-hint}}
	</div>
</div>
