{{!
	string msg-wiki7-search-toggle-shortcut shortcut key message
	string msg-wiki7-search-toggle tooltip message for search toggle
}}
<summary
	id="wiki7-search-summary"
	class="wiki7-dropdown-summary wiki7-cdx-button--size-large cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--icon-only cdx-button--weight-quiet"
	title="{{msg-wiki7-search-toggle}} {{msg-wiki7-search-toggle-shortcut}}"
	aria-details="wiki7-search__card">
	{{>Icon__search}}
	<span>{{msg-wiki7-search-toggle}}</span>
</summary>
