{{!
	string form-action action attribute of the search form
	string page-title page title of the search page
	string msg-search search text label
	string html-input raw HTML containing the input box of the search box
}}
<div class="wiki7-search wiki7-header__item wiki7-dropdown">
	<details id="wiki7-search-details" class="wiki7-dropdown-details">
		{{>Search__button}}
	</details>
	<div role="search" id="wiki7-search__card" class="wiki7-search-box wiki7-search__card wiki7-menu__card">
		<div class="wiki7-menu__card-content">
			<form action="{{form-action}}" class="wiki7-search__form" id="searchform" autocomplete="off">
				<input type="hidden" name="title" value="{{page-title}}">
				<label class="wiki7-search__formIcon" for="searchInput">
					<span class="wiki7-search__icon wiki7-ui-icon mw-ui-icon-wikimedia-search"></span>
					<span class="screen-reader-text">{{msg-search}}</span>
				</label>
				{{{html-input}}}
			</form>
		</div>
	</div>
</div>
