{{!
	string msg-wiki7-search-toggle-shortcut shortcut key message
	string msg-wiki7-search-toggle tooltip message for search toggle
}}
<summary
	class="wiki7-dropdown-summary"
	title="{{msg-wiki7-search-toggle}} {{msg-wiki7-search-toggle-shortcut}}"
	aria-details="wiki7-search__card">
	<span class="wiki7-ui-icon">
		<span></span>
		<span></span>
		<span></span>
	</span>
	<span>{{msg-wiki7-search-toggle}}</span>
</summary>

