<button
	id="wiki7-share"
	class="wiki7-share wiki7-dropdown-summary wiki7-cdx-button--size-large cdx-button cdx-button--weight-quiet cdx-button--icon-only"
	title="{{msg-wiki7-share}}"
>
	<span class="wiki7-ui-icon mw-ui-icon-wikimedia-share"></span>
	<span>{{msg-wiki7-share}}</span>
</button>