<button
	id="wiki7-share"
	class="wiki7-share wiki7-button wiki7-dropdown-summary"
	title="{{msg-wiki7-share}}"
>
	<span class="wiki7-ui-icon mw-ui-icon-wikimedia-share"></span>
	<span>{{msg-wiki7-share}}</span>
</button>