<div class="wiki7-siteStats">
	{{#array-sitestats-items}}
	<div class="wiki7-siteStats__item" id="wiki7-siteStats__item--{{id}}" title="{{label}}">
		<span class="wiki7-ui-icon mw-ui-icon-{{icon}} mw-ui-icon-wikimedia-{{icon}}"></span>
		<span>{{value}}</span>
	</div>
	{{/array-sitestats-items}}
</div>