<li id="toc-{{anchor}}"
	class="wiki7-toc-list-item wiki7-toc-level-{{toclevel}}">
	<a class="wiki7-toc-link cdx-button cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--weight-quiet" href="#{{linkAnchor}}" role="button">
		<div class="wiki7-toc-content">
			<div class="wiki7-toc-text">
				<span class="wiki7-toc-numb">{{number}}</span>
				<span class="wiki7-toc-heading">{{{line}}}</span>
			</div>
			{{#html-summary}}<div class="wiki7-toc-summary">{{{.}}}</div>{{/html-summary}}
		</div>
	</a>
	{{#is-top-level-section}}{{#is-parent-section}}
		<button aria-controls="toc-{{anchor}}-sublist" class="wiki7-toc-toggle cdx-button cdx-button--weight-quiet cdx-button--icon-only cdx-button--size-medium">
			<span class="wiki7-ui-icon mw-ui-icon-wikimedia-collapse"></span>
			<span>{{{wiki7-button-label}}}</span>
		</button>
	{{/is-parent-section}}{{/is-top-level-section}}
	<ul id="toc-{{anchor}}-sublist" class="wiki7-toc-list">
		{{#array-sections}}
		{{>TableOfContents__line}}
		{{/array-sections}}
	</ul>
</li>
