<li id="toc-{{anchor}}"
	class="wiki7-toc-list-item wiki7-toc-level-{{toclevel}}">
	{{! 
		^linkAnchor anchor /linkAnchor is needed for MW 1.39 compatability
	}}
	<a class="wiki7-toc-link" href="#{{linkAnchor}}{{^linkAnchor}}{{anchor}}{{/linkAnchor}}">
		<div class="wiki7-toc-indicator"></div>
		<div class="wiki7-toc-content">
			<div class="wiki7-toc-text">
				<span class="wiki7-toc-numb">{{number}}</span>
				<span class="wiki7-toc-heading">{{{line}}}</span>
			</div>
			{{#html-summary}}<div class="wiki7-toc-summary">{{{.}}}</div>{{/html-summary}}
		</div>
	</a>
	{{#is-top-level-section}}{{#is-parent-section}}
		<button aria-controls="toc-{{anchor}}-sublist" class="wiki7-toc-toggle">
			<span class="wiki7-ui-icon mw-ui-icon-wikimedia-collapse"></span>
			<span>{{{wiki7-button-label}}}</span>
		</button>
	{{/is-parent-section}}{{/is-top-level-section}}
	<ul id="toc-{{anchor}}-sublist" class="wiki7-toc-list">
		{{#array-sections}}
		{{>TableOfContents__line}}
		{{/array-sections}}
	</ul>
</li>
