<div class="wiki7-userInfo">
	<div class="wiki7-userInfo-title">
		{{#title}}<div>{{.}}</div>{{/title}}
		{{#data-user-page}}{{>Menu}}{{/data-user-page}}
	</div>
	<div class="wiki7-userInfo-text">
		{{#text}}<div>{{.}}</div>{{/text}}
		{{#data-user-groups}}
			<ul class="wiki7-userInfo-usergroups">
					{{#array-list-items}}{{>MenuListItem}}{{/array-list-items}}
			</ul>
		{{/data-user-groups}}
	</div>
	{{#data-user-stats}}
		<div class="wiki7-userInfo-stats">
			{{#array-stats-items}}
				<div class="wiki7-userInfo-stats-item">
					<div class="wiki7-userInfo-stats-item-label">{{label}}</div>
					<div class="wiki7-userInfo-stats-item-value">{{{value}}}</div>
				</div>
			{{/array-stats-items}}
		</div>
	{{/data-user-stats}}
</div>