<li class="wiki7-typeahead-list-item">
	<a
		href="{{href}}"
		class="wiki7-typeahead-list-item-link"
		id="wiki7-typeahead-item-{{type}}-{{id}}"
	>
		{{#icon}}<div class="wiki7-typeahead-list-item-icon wiki7-ui-icon mw-ui-icon-wikimedia-{{.}}"></div>{{/icon}}
		{{#image}}
		<div
			class="wiki7-typeahead-list-item-image{{#image.class}} {{.}}{{/image.class}}"
			{{#image.url}}style="background-image: url({{.}});"{{/image.url}}
		>
		</div>
		{{/image}}
		<div class="wiki7-typeahead-list-item-text">
			{{#text}}{{.}}{{/text}}
			{{#title}}<div class="wiki7-typeahead-list-item-title">{{{.}}}</div>{{/title}}
			{{#description}}<div class="wiki7-typeahead-list-item-description">{{{.}}}</div>{{/description}}
		</div>
		{{#html-end}}<div class="wiki7-typeahead-list-item-end">{{{.}}}</div>{{/html-end}}
	</a>
</li>