<div 
	class="wiki7-typeahead-placeholder"
	id="wiki7-typeahead-placeholder"
	{{#hidden}}hidden{{/hidden}}
>
	<div class="wiki7-typeahead-placeholder-content">
		{{#icon}}<div class="wiki7-typeahead-placeholder-icon wiki7-ui-icon mw-ui-icon-wikimedia-{{.}}"></div>{{/icon}}
		{{#title}}<div class="wiki7-typeahead-placeholder-title">{{{.}}}</div>{{/title}}
		{{#description}}<div class="wiki7-typeahead-placeholder-description">{{{.}}}</div>{{/description}}
	</div>
</div>