<div 
	class="wiki7-typeahead-group{{#class}} {{.}}{{/class}}"
	id="wiki7-typeahead-group-{{type}}"
	data-mw-typeahead-type={{type}}
	{{#keyboardNavigation}}data-mw-typeahead-keyboard-navigation{{/keyboardNavigation}}
	{{#historyValue}}data-mw-typeahead-history-value={{.}}{{/historyValue}}
	{{#hidden}}hidden{{/hidden}}
>
	<ul 
		class="wiki7-typeahead-list"
		id="wiki7-typeahead-list-{{type}}"
		role="listbox"
	>
		{{#array-list-items}}{{>TypeaheadListItem}}{{/array-list-items}}
	</ul>
</div>