<div id="searchform-suggestions" class="wiki7-typeahead" aria-live="polite">
	{{#array-lists}}{{>TypeaheadList}}{{/array-lists}}
	{{#data-placeholder}}{{>TypeaheadPlaceholder}}{{/data-placeholder}}
</div>