== Attendance Statistics ==

{% if season_stats %}
=== Per-Season Summary ===
{| class="wikitable sortable"
! Season !! Total Matches !! Total Attendance !! Average !! Highest !! Lowest
{% for s in season_stats %}
|-
| {{ s.season }} || {{ s.total_matches }} || {{ "{:,}".format(s.total_attendance) }} || {{ "{:,}".format(s.average) }} || {{ "{:,}".format(s.highest) }} || {{ "{:,}".format(s.lowest) }}
{% endfor %}
|}
{% endif %}

[[Category:Statistics]]
[[Category:Attendance]]
