== היסטוריית מאמנים ==

{| class="wikitable sortable"
! מאמן !! מ !! עד !! משחקים !! נצ !! ת !! ה !! נק/מ
{% for c in coaches %}
|-
| [[{{ c.name }}]] || {{ c.tenure_start }} || {{ c.tenure_end }} || {{ c.played }} || {{ c.wins }} || {{ c.draws }} || {{ c.losses }} || {{ c.ppm }}
{% endfor %}

|}

[[קטגוריה:מאמנים]]
