== תארים ==

{% for honour in honours %}
=== {{ honour.competition }} ===
'''{{ honour.achievement }}'''
{% if honour.seasons %}
{% for s in honour.seasons %}
* {{ s }}
{% endfor %}
{% endif %}

{{"{{"}}#ifeq:{{"{{"}}NAMESPACENUMBER{{"}}"}}|0|{{"{{"}}Cargo/Honour
| competition = {{ honour.competition or '' }}
| achievement = {{ honour.achievement or '' }}
| seasons = {{ honour.seasons | join(',') if honour.seasons else '' }}
{{"}}"}}|{{"}}"}}
{% endfor %}

[[קטגוריה:תארים]]
[[קטגוריה:היסטוריית המועדון]]
