== תארים ==

{% for honour in honours %}
=== {{ honour.competition }} ===
'''{{ honour.achievement }}'''
{% if honour.seasons %}
{% for s in honour.seasons %}
* {{ s }}
{% endfor %}
{% endif %}

{% endfor %}

[[קטגוריה:תארים]]
[[קטגוריה:היסטוריית המועדון]]
