== {{ title }} ==

{| class="wikitable sortable"
! # !! שחקן !! {{ value_label }}
{% for entry in entries %}
|-
| {{ loop.index }} || [[{{ entry.player_name }}]] || {{ entry.value }}
{% endfor %}

|}

[[קטגוריה:סטטיסטיקות]]
{% if scope == "all_time" %}[[קטגוריה:שיאי כל הזמנים]]{% endif %}
