{{"{{"}}Player infobox
| name_english = {{ player.name_english }}
| name_hebrew = {{ player.name_hebrew or '' }}
| tmk_id = {{ player.id }}
| birth_date = {{ player.birth_date or '' }}
| birth_place = {{ player.birth_place or '' }}
| nationality = {{ player.nationality | join(', ') if player.nationality else '' }}
| position = {{ player.main_position or '' }}
| jersey_number = {{ player.current_jersey_number or '' }}
| current_squad = {{ 'Yes' if player.current_squad else 'No' }}
| homegrown = {{ 'Yes' if player.homegrown else 'No' }}
| retired = {{ 'Yes' if player.retired else 'No' }}
{{"}}"}}

== קריירה ==
{% if transfers %}
{| class="wikitable sortable" style="direction:rtl; text-align:right;"
! עונה !! תאריך !! מ !! אל !! עלות !! השאלה
{% for t in transfers %}
|-
| {{ t.season }} || {{ t.transfer_date }} || {{ t.from_club }} || {{ t.to_club }} || {{ t.fee }} || {{ '&#x2705;' if t.loan else '' }}
{% endfor %}

|}
{% endif %}

{% if stats %}
== סטטיסטיקה עונתית ==
{| class="wikitable sortable"
! עונה !! הופעות !! שערים !! בישולים !! {{"{{"}}Tooltip|Y|כרטיסים צהובים{{"}}"}} !! {{"{{"}}Tooltip|2Y|כרטיס צהוב שני{{"}}"}} !! {{"{{"}}Tooltip|R|כרטיסים אדומים{{"}}"}} !! דקות
{% for s in stats %}
{% set row_season_display = s.season | season_display %}
|-
| [[עונת {{ row_season_display }}|{{ row_season_display }}]] || {{ s.appearances }} || {{ s.goals }} || {{ s.assists }} || {{ s.yellow_cards }} || {{ s.get('second_yellow_cards', 0) }} || {{ s.red_cards }} || {{ s.minutes_played }}
{% endfor %}

|-
! סה"כ !! {{ stats | sum(attribute='appearances') }} !! {{ stats | sum(attribute='goals') }} !! {{ stats | sum(attribute='assists') }} !! {{ stats | sum(attribute='yellow_cards') }} !! {{ stats | map(attribute='second_yellow_cards') | map('default', 0) | sum }} !! {{ stats | sum(attribute='red_cards') }} !! {{ stats | sum(attribute='minutes_played') }}
|}
{% endif %}

{% if market_values %}
== היסטוריית שווי שוק ==
{| class="wikitable sortable"
! תאריך !! שווי !! קבוצה
{% for mv in market_values %}
|-
| {{ mv.value_date }} || {{ mv.value }} || {{ mv.team }}
{% endfor %}

|}
{% endif %}

[[קטגוריה:שחקנים]]
{% if player.current_squad %}[[קטגוריה:סגל נוכחי]]{% endif %}
{% if player.homegrown %}[[קטגוריה:חניכי מועדון]]{% endif %}
{% if player.retired %}[[קטגוריה:שחקנים שפרשו]]{% endif %}
{% set pos = player.main_position or '' %}
{% if 'שוער' in pos or 'Goalkeeper' in pos %}[[קטגוריה:שוערים]]
{% elif 'הגנה' in pos or 'Back' in pos or 'Centre-Back' in pos or 'Defender' in pos %}[[קטגוריה:הגנה]]
{% elif 'קישור' in pos or 'Midfield' in pos or 'Midfielder' in pos %}[[קטגוריה:קישור]]
{% elif 'התקפה' in pos or 'Wing' in pos or 'Forward' in pos or 'Striker' in pos %}[[קטגוריה:התקפה]]
{% endif %}
