== עונת {{ season_display }} ==

=== סגל ===
''ראו: [[סגל {{ season_display }}]]''

=== העברות ===
''ראו: [[העברות {{ season_display }}]]''

{% if stats %}
=== סטטיסטיקות מפתח ===
{| class="wikitable"
! נתון !! ערך
|-
| סך הופעות || {{ total_appearances }}
|-
| סך שערים || {{ total_goals }}
|-
| סך בישולים || {{ total_assists }}
|-
| סך כרטיסים צהובים || {{ total_yellows }}
|-
| סך כרטיסים אדומים || {{ total_reds }}
|}
{% endif %}

{% if top_scorers %}
=== מלכי שערים ===
{| class="wikitable"
! # !! שחקן !! שערים
{% for s in top_scorers[:10] %}
{% if s.goals > 0 %}
|-
| {{ loop.index }} || [[{{ s.player_name }}]] || {{ s.goals }}
{% endif %}
{% endfor %}

|}
{% endif %}

{% if top_appearances %}
=== בעלי ההופעות ===
{| class="wikitable"
! # !! שחקן !! הופעות
{% for s in top_appearances[:10] %}
{% if s.appearances > 0 %}
|-
| {{ loop.index }} || [[{{ s.player_name }}]] || {{ s.appearances }}
{% endif %}
{% endfor %}

|}
{% endif %}

{% if top_assists %}
=== מלכי בישולים ===
{| class="wikitable"
! # !! שחקן !! בישולים
{% for s in top_assists[:10] %}
{% if s.assists > 0 %}
|-
| {{ loop.index }} || [[{{ s.player_name }}]] || {{ s.assists }}
{% endif %}
{% endfor %}

|}
{% endif %}

{% if fixtures_by_competition %}
=== תחרויות ===
{% for comp, matches in fixtures_by_competition.items() %}
* '''[[{{ comp }} {{ season_display }}|{{ comp }}]]''': {{ matches | length }} משחקים
{% endfor %}
{% endif %}

[[קטגוריה:עונות]]
[[קטגוריה:עונת {{ season_display }}]]
